[Environment]
region=eu_west_1
clientid=323a2e52-91f5-41f8-81d0-66a8384a26ad
clientsecret=3msS-R49Fbl1cemW3qlr7CemBCxN2MTeBrpRzv1FNe4
csv=C:\Users\vyeong\python_workspace\DTIVRchk\US_Claims_Universal_IVR_Menu_Config.csv
[Objects]
skill_col_list=
queue_col_list=
prompt_col_list=C,D,E,F,H
schedulegroup_col_list=
schedule_col_list=
emergencygroup_col_list=