[Environment]
region=<region>
clientid=<clientid>
clientsecret=<clientsecret>
csv=./AU_Payment_Solutions_Queue_Configuration.csv
[Objects]
skill_col_list=A,C
queue_col_list=B
prompt_col_list=N,R,U,V,Y,Z,AC,AD,AH,AI,AM,AN
schedulegroup_col_list=E
schedule_col_list=AG,AL
emergencygroup_col_list=F